* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Poppins:400,500,600|Sacramento');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Libre Baskerville', serif;
*/

.site-container {
    margin: 0 auto;
    max-width: 1920px;
}

.narrow {
    margin: 0 auto;
    max-width: 1200px;
}

.clr {
    clear: both;
}

.header_menu {
    display: block;
    padding: 0 200px;
    height: 75px;
}

.menu ul {
    list-style-type: none;
}
    
.menu ul li {
    display: inline-block;
    padding: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    list-style-type: none;
    color: #272727;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
}

.logo {
    float: left;
    color: #616161;
    font-family: "Sacramento", cursive;
    font-size: 35px;
    font-weight: 400;
    line-height: 27px;
    margin: 24px 0 24px 0;
}    

.logo span {
     color: #fc5f45;
}

.menu {
    float:right;
    margin: 30px 0 30px 0;
}

.main_section {
    background-color: rgba(38, 39, 50, 0.85);
    padding-top: 175px;
}

.main_section h1 {
    color: #ffffff;
    font-family: "Libre Baskerville";
    font-size: 60px;
    font-weight: 400;
    line-height: 85px;
    width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.button {
    border-radius: 25px;
    background-color: #fc5f45;
    width: 160px;
    height: 40px;
    text-align: center;
    line-height: 15px;
    margin: 0 auto;
    margin-bottom: 83px;
}

.button a{
    color: #ffffff;
    font-family: "Poppins - Semi Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

.main_ads {
    display: block;
    text-align: center;
}

.main_ads li {
    display: inline-block;
    padding: 0 50px;
}

.main_ads img {
    margin: 0 auto;
    display: block;
}

.main_ads p {
    
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 80px;
    text-transform: uppercase;
    margin-bottom: 175px;
}

p.main_ads_green {
    color: #38c695;
}

p.main_ads_violet {
    color: #b27cf5;
}

p.main_ads_orange {
    color: #feb960;
}

.about-us_section {
    height: 800px;
    background-color: #ffffff;
    padding: 150px 0;
}

.about-us_section div {
    text-align: center;
}

.about-us_pic {
    float: left;
}
.about-us_text {
    width: 652px;
    height: 550px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    float: left;
    margin-left: -80px;
    margin-top: 80px;
}

.about-us_text_inter {
    margin:  0 auto;
    width: 486px;
}

.about-us_text h2 {
    width: 253px;
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80.02px;
    margin-bottom: 50px;
    margin-top: 80px;
    text-align: left;
}

.about-us_text p {
    width: 486px;
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.01px;
    margin-bottom: 30px;
    text-align: left;
}

.our-focus_section {
    height: 800px;
    background-color: #f7f7f7;
}

.our-focus_container {
    padding-top: 100px;
}

.our-focus_container h2 {
    text-align: center;
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
}

.our-focus_container > p {
    text-align: center;
    margin: 0 auto;
    color: #616161;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 80px;
    padding-bottom: 80px;
}

.our-focus_container ul {
    text-align: center;
}
.our-focus_container li {
    display: inline-block;
    margin: 0 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    height: 350px;
    width: 263px;
}

.our-focus_item {
   padding: 63px 33px 0 33px;
}

.our-focus_container ul li:nth-child(1)
{
    border-bottom-color: #fc5f45;
    border-bottom-style: solid;
}

.our-focus_container ul li:nth-child(2)
{
    border-bottom-color: #38c695;
    border-bottom-style: solid;
}

.our-focus_container ul li:nth-child(3)
{
    border-bottom-color: #b27cf5;
    border-bottom-style: solid;
}

.our-focus_container ul li:nth-child(4)
{
    border-bottom-color: #feb960;
    border-bottom-style: solid;
}

.our-focus_item img{
    text-align: center;
    display: block;
    margin: 0 auto;   
}

.our-focus_item h3 {
    color: #313131;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
    text-align: center;
}

.our-focus_item p {
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    width: 191px;
}

.video_section {
    height: 500px;
    background-color: rgba(38, 39, 50, 0.85);
    padding-top: 148px;
}

.video_section h3 {
    color: #ffffff;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
    margin-bottom: 30px;
}

.video_section img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.video_section{
    text-align: center;
    color: #ffffff;
    font-family: Poppins;    
    font-size: 15px;
    font-weight: 400;
    line-height: 80px;
}

.portfolio_section {
    padding-top: 140px;
}

.portfolio_section h2 {
    text-align: center;
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
}

.portfolio_section p {
    text-align: center;
    color: #616161;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 80px;
    margin-bottom: 80px;
}

.portfolio_section ul {
    text-align: center;
}

.portfolio_section ul:last-child {
    margin-bottom: 145px;
}

.portfolio_section li {
    display: inline-block;
    padding: 10px 10px;
}

.out-team_section{
    background-color: #f7f7f7;    
}

.our-team_container {
    padding-top: 140px;
}

.our-team_container h2 {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80.2px;
    text-align: center;
}

.our-team_container>p {
    color: #616161;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 80.2px;
    text-align: center;
}

.our-team_container ul {
    text-align: center;
    padding-bottom: 150px;    
}
.our-team_container li {
    display: inline-block;
    margin: 0 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    height: 350px;
    width: 263px;
}

.our-team_container ul li:nth-child(1)
{
    border-bottom-color: #fc5f45;
    border-bottom-style: solid;
}

.our-team_container ul li:nth-child(2)
{
    border-bottom-color: #38c695;
    border-bottom-style: solid;
}

.our-team_container ul li:nth-child(3)
{
    border-bottom-color: #b27cf5;
    border-bottom-style: solid;
}

.our-team_container ul li:nth-child(4)
{
    border-bottom-color: #feb960;
    border-bottom-style: solid;
}

.our-team_item img{
    text-align: center;
    display: block;
    margin: 0 auto;   
}

.our-team_item h3 { 
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.our-team_container li:nth-child(1) h3 {
    color: #fc5f45;
}
.our-team_container li:nth-child(2) h3 {
    color: #38c695;
}
.our-team_container li:nth-child(3) h3 {
    color: #b27cf5;
}
.our-team_container li:nth-child(4) h3 {
    color: #feb960;
}

.our-team_item p {
    color: #616161;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.achievment_section {
    background-image: url('../image/achievment_bkg.png');

    padding: 150px 0;
}

.achievment_container li {
    display: inline-block;
    margin: 0 73px;
}

.achievment_item {
    width: 150px;
}

.achievment_item img {
    display: block;
    margin: 0 auto;
}

.achievment_item h3 {
    color: #fefefe;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    margin-top: 15px;
}

.achievment_item p {
    opacity: 0.7;
    color: #fefefe;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.work-steps_container {
    padding: 140px 0;
    margin: 0 auto;
}

.work-steps_container h2 {
    text-align: center;
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80.11px;
}

.work-steps_container>p {
    text-align: center;
    color: #616161;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 80.11px;
    margin-bottom: 88px;
}

.work-steps_vertical {
    width: 556px;
    margin: 0 auto;
    position: relative;
}

.work-steps_bar {
    width: 458px;
    height: 301px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.work-steps_bar li {
    display: inline-block;
    vertical-align: text-top;
}

.work-steps_bar_red {
    border-bottom-color: #fc5f45; 
    border-bottom-style: solid;
    position: absolute;
    top: -51px;
    left: -292px;
}

.work-steps_bar_green {
    border-bottom-color: #38c695; 
    border-bottom-style: solid;
    position: absolute;
    top: 249px;
    right: -292px;
}

.work-steps_bar_blue {
    border-bottom-color: #b27cf5; 
    border-bottom-style: solid;
    position: absolute;
    top: 549px;
    left: -292px;
}

.work-steps_bar_orange {
    border-bottom-color: #feb960; 
    border-bottom-style: solid;
    position: absolute;
    top: 849px;
    right: -292px;
}

.work-steps_bar li:nth-child(1) > p {
    color: #e0e0e0;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 33px; 
    margin-top: 47px;
}

.work-steps_bar li:nth-child(2) > p {
    width: 261px;
    height: 121px;
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 26px;
}
.work-steps_bar li > h3 {
    color: #272727;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 400;
    margin-top: 47px;
    margin-left: 26px;
    margin-bottom: 24px;
}
    
.pricing-table_section {
    background-color: #f7f7f7;
}
    
.pricing-table_container {
    padding: 140px 0;
    margin: 0 auto;
}

.pricing-table_container h2 {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80.11px;
    text-align: center;
}

.pricing-table_container p {
    color: #616161;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 80.11px;
    text-align: center;
    margin-bottom: 30px;
}

.pricing-table_container li {
    display: inline-block;
}

.pricing-table_container li:nth-child(1) a {
color: #38c695;
border: 2px solid #38c695;
}

.pricing-table_container li:nth-child(2) a {
color: #fc5f45;
border: 2px solid #fc5f45;
}

.pricing-table_container li:nth-child(3) a {
color: #b27cf5;
border: 2px solid #b27cf5;
}


.pricing-table_container li:nth-child(1) {
    border-top-color: #38c695;
    border-top-style: solid;
    margin-right: 30px;
    margin-left: 25px;
}

.pricing-table_container li:nth-child(2) {
    border-top-color: #fc5f45;
    border-top-style: solid;
    margin-right: 30px;
}

.pricing-table_container li:nth-child(3) {
    border-top-color: #b27cf5;
    border-top-style: solid;
}

.pricing_item {
    height: 575px;
    width: 360px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.circle {
    height: 112px;
    width: 112px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.pricing_item .circle > p {
    color: #ffffff;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 10px;
    position: relative;
    top: 25px;
}

.pricing_item p.pricing_big {
    font-size: 25px;
    position: relative;
    top: 38px;
}

.circle_green {
    background-image: url('../image/pricing1.png');
}

.circle_red {
    background-image: url('../image/pricing2.png');
}

.circle_blue {
    background-image: url('../image/pricing3.png');
}

.pricing_item h3 {
    color: #313131;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 80px;
    text-align: center;
    font-weight: 700;
}

.pricing_item p {
    color: #272727;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
}

.pricing_item span {
    font-weight: 700;
}

.pricing_item a {
    display: block;
    text-decoration: none;
    border-radius: 25px;    
    background-color: #ffffff;
    width: 180px;
    height: 50px;
    line-height: 50px;
    font-family: "Poppins - Semi Bold";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.testimonials_section {
    background-color: rgba(38, 39, 50, 0.85);
}

.testimonials_container {
    padding: 140px 0;
    margin: 0 auto;
}

.testimonials_container h2 {
    color: #ffffff;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 500;
    line-height: 79.78px;
    text-align: center;
}

.testimonials_content {
     overflow: hidden;
}

.testimonials_pic {
    float: left;
}


.testimonials_container p {
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 79.78px;
    text-align: center;
    margin-bottom: 40px;
}

.testimonials_text {
    width: 1140px;
    height: 312px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    margin-left: 16px;
    margin-top: 60px;
}

.testimonials_text p {
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin: 41px 76px 0px 440px;
    padding-top: 41px;
}

p.signature  {
    color: #272727;
    font-family: Sacramento;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 0 440px;
}

p.name {
    color: #272727;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: 0 0 0 440px;
    padding-top: 10px;
}

p.position {
    color: #fc5f45;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 0px;
    margin: 0 0 0 440px;
}
    
.why-select-us_container {
    padding: 140px 0;
    margin: 0 auto;
}

.why-select-us_container h2 {
    text-align: center;
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80.11px;
}

.why-select-us_container>p {
    text-align: center;
    color: #616161;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 80.11px;
}

.why-select-us_container > ul {
    margin-top: 70px;
}

.why-select-us_container > ul > li {
    display: inline-block;
    margin: 0 30px
}

.why-select-us_container > ul > li:nth-child(1) {
    margin-left: 70px;
}

.why-select-us_head li{
    display: inline-block;
}

.why-select-us_head p {
    width: 78px;
    color: #272727;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-left: 10px;
    margin-bottom: 40px;
}

.why-select-us_text p {
    width: 310px;
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
}

p.why-select-us_end {
    color: #272727;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 164px;
}

.why-select-us_end a {
    color: #ffffff;
    font-family: "Poppins - Semi Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    border-radius: 25px;
    background-color: #fc5f45;
    width: 181px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    margin-left: 15px;
}

.our-blog_section {
    background-color: #f7f7f7;
}
    
.our-blog_container {
    padding: 140px 0;
    margin: 0 auto;
}

.our-blog_container > h2 {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80.11px;
    text-align: center;
}

.our-blog_container > p {
    color: #616161;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 80.11px;
    text-align: center;
    margin-bottom: 30px;
}

.our-blog_left-side {
    /*display: inline-block;*/
    float: left;
    height: 715px;
    width: 555px;
    
}

.our-blog_right-side {
    display: inline-block;
    margin-left: 30px;
    height: 715px;
    width: 555px;
}

.our-blog_item {
    width: 490px;
    height: 155px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 33px 33px;
    margin-bottom: 20px;
    position: relative;
}

.our-blog_left-side .our-blog_item {
    height: 198px;
}

.our-blog_item p {
    width: 425px;
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
}

span.our-blog_date {
    font-size: 13px;
    line-height: 35px;
    margin-left: 35px;
}

span.our-blog_author {
    color: #616161;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
}

.our-blog_item > h3 {
    color: #272727;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
}

.our-blog_item a {
    margin-left: 10px;
    font-weight: 500;
    text-decoration: none;
}

.our-blog_green {
    border-bottom-color: #38c695;
    border-bottom-style: solid;
}

.our-blog_blue {
    border-bottom-color: #b27cf5;
    border-bottom-style: solid;
}

.our-blog_orange {
    border-bottom-color: #feb960;
    border-bottom-style: solid;
}

.our-blog_red {
    border-bottom-color: #fc5f45;
    border-bottom-style: solid;
}

.our-blog_green .our-blog_author {
    color: #38c695;
}

.our-blog_blue .our-blog_author {
    color: #b27cf5;
}

.our-blog_orange .our-blog_author {
    color: #feb960;
}


.our-blog_red .our-blog_author
{
    color: #fc5f45;
}

.our-blog_red .our-blog_date {
    color: #ffffff;
}
.our-blog_p-up {
    position: absolute;
    top: -50px;
}


.our-blog_green a {
    color: #38c695;
}

.our-blog_blue {
    color: #b27cf5;
}

.our-blog_orange a {
    color: #feb960;
}

.subscribe_section {
    background-color: #ffffff;
}

.subscribe_container {
    padding: 140px 0;
    margin: 0 auto;
}

.subscribe_container h2 {
    text-align: center;
    color: #272727;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    line-height: 85px;
}

.subscribe_container form {
    text-align: center; 
}

.subscribe_input {
    text-align: center;
    width: 330px;
    height: 48px;
    border-radius: 25px 0 0 25px;
    border: 2px solid #efefef;
    background-color: #f7f7f7;
}

.subscribe_submit {
    width: 181px;
    height: 50px;
    border-radius: 0 25px 25px 0;
    background-color: #fc5f45;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    margin-left: -5px;
}

.getin-touch_section {
    background-color: #f7f7f7;
}
    
.getin-touch_container {
    padding: 140px 0;
    margin: 0 auto;
}

.getin-touch_container > h2 {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80.11px;
    text-align: center;
}

.getin-touch_container > p {
    color: #616161;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 80.11px;
    text-align: center;
    margin-bottom: 30px;
}

.getin-touch_input {
    width: 360px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #efefef;
    background-color: #ffffff;
    margin: 0 30px 24px 0;
}

.getin-touch_message {
    width: 750px;
    height: 200px;
    border-radius: 4px;
    border: 1px solid #efefef;
    background-color: #ffffff;
}

.getin-touch_submit {
    width: 190px;
    height: 50px;
    border-radius: 25px;
    background-color: #fc5f45;
    color: #ffffff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    margin-top: 50px;
    display: block;
    margin: 50px 280px auto;
}
    
form {
    width: 788px;
    margin: 0 auto;
}

footer {
    background-color: #f7f7f7;
}

.footer_container {
    height: 170px;
    background-color: rgba(38, 39, 50, 0.85);
    padding: 63px 67px 0 61px;
}

.footer_container img {
    margin: 0 7px;
}

.footer_container li {
    display: inline-block;
    width: 201px;
    vertical-align: top;
    margin-right: 115px;
}

.footer_container li:last-child {
    margin-right: 0;
}

.footer_container li:nth-child(1) {
    height: 38px;
    color: #fef4f2;
    font-family: "Wisdom - Script";
    font-size: 50px;
    font-weight: 400;
    line-height: 140px;
    vertical-align: middle;
}

.footer_container li:nth-child(2) h3 {
    font-family: "Poppins - Regular";
    font-weight: 500;
    color: #38c695;
    line-height: 27px;
    margin-bottom: 40px;
}

.footer_container li:nth-child(3) h3 {
    font-family: "Poppins - Regular";
    font-weight: 500;
    color: #b27cf5;
    line-height: 27px;
    margin-bottom: 40px;
}

.footer_container li:nth-child(4) h3 {
    font-family: "Poppins - Regular";
    font-weight: 500;
    color: #feb960;
    line-height: 27px;
    margin-bottom: 40px;
}

.footer_container p {
    color: #fef4f2;    
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.footer_container span {
    color: #fc5f45;
}

